# Catalog file for Integration Server package JT_Excel

SRC_URL=https://github.com/JahnTech/webmethods-is-jt_excel.git

# The values below must be enclosed in double-quotes, if they contain spaces
LICENSE="Apache License 2.0"
INFO="This package allows webMethods Integration Server to create, read, update, and write Excel spreadsheets."
OWNER="JahnTech GmbH"
CONTACT="info@jahntech.com"
